.accordionComponent{
    width:30%;
    margin:10px;
    border:solid indigo;
    border-width:2px;
    overflow:visible;
    height:500px;
}

.accordionCurrentTitle{
    background: indigo;
    color: white;
    font: italic bold 12pt/150% sans-serif;
    border: outset;
}

.accordionOtherTitle{
    background: indigo;
    color: white;
    font: italic bold 12pt/150% sans-serif;
    border: outset 2px;
}

.accordionCurrentPane{
    border:none;
    overflow:scroll;
    display:block;
    height:90%;
}

.accordionOtherPane{
    display:none;
}